<h1>{{title}}</h1>
<div [style.background]='"yellow"' [style.color]='styleColor' style="background:silver;">{{word}}</div>
<input [value]='word' (keyup.enter)="word = $event.target.value" />
<input [(ngModel)]="word" />
<button (click)='doIt()'>Btn</button>

<app-customers [styleColor]="styleColor" ></app-customers>
<app-customers [styleColor]="styleColor" ></app-customers>
<app-customers [styleColor]="styleColor" ></app-customers>
<app-customers [styleColor]="styleColor" ></app-customers>
<app-customers [styleColor]="styleColor" ></app-customers>